#bg {
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body {
    color: #222;
    font-family: "Kokoro", "Rounded Mplus 1c", "Open Sans", 'Noto Sans Japanese', "Yu Gothic", "Meiryo UI", sans-serif;
    font-weight: 300;
    overflow: hidden;
    margin: 0;
    padding:0;
}

#dummy {
    position: absolute;
    top: 25vh;
    left: 50vw;
    height: 50%;
    width: 50vw;
    margin-right: -16px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*
#main_title{
    position: absolute;    
    top: 35vh;
    left: 10vw;
    font-size: 17vh;
}*/

#han{
    position: absolute;    
    top:0;
    left:0;
    font-size: 5em;
    margin:0;
    padding:0;
}

#mains_title{
    position: absolute;    
    top: 10vh;
    left: 10vw;
    width: 50vw;
    height: 50vh;
    background:rgba(0,0,0,.3);
}

#right_menu{
    position:absolute;
    top:0;
    right:0;
    width:30vw;
    height:100vh;
    background:rgba(255,255,255,.5);
}